*{
    margin: 0px auto;
    padding: 0px auto;
}
body{
	background-color: #cccccc;
}
.container{
    width: 960px;
    height: auto;
    background-color: white;
}
.menu{
    color:green;
    margin-top: 15px;
}
.menu a{
    padding: 5px;
}
.sidebar {
float: left;
width: 250px;
}
.products{
    width: 800px;
    float: right;
    height: auto;
    overflow: auto;
}
.product{
    width: 200px;
    height: 250px;
    margin: 5px;
    background-color: #cccccc;
    float: left;
}
.productdetails{
    width: 400px;
    height: 500px;
    margin: 5px;
    background-color: #cccccc;
    float: left;
}
.product img{
    height: 210px;
    width: 200px;
}
.buynow{
    margin-left: 20px;
    width: 200px;
    height: 30px;
}
footer{
    border-top: 1px solid darkslategrey;
}
.profile1{
    width:420px;
    margin: 10px auto;
    float: left;
}
.profile2{
    width:420px;
   margin-left: 30px;
    float: left;
    border-left: 1px solid green;
    padding-left: 10px;
    padding-top: 40px;
}
.error{
    color:red;
}
table tr{
    margin: 37px;
}
td{
    padding: 10px !important; 
}
